text {
    font-size: x-small;
}

.node-name {
    font-size: x-small;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    line-height: 1;
}

.node-name p {
    margin: 2px;
}

.tooltip {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    width: 200px;
    margin-top: -20px;
    background: #ddd;
    pointer-events: none;
    font-size: small;
}

h1 {
    text-align: center;
}