body {
    background-color: #ffd90f;
}

@font-face {
    font-family: 'simpsons';
    src:    url('../data/fonts/simpsons.woff2') format('woff2'),
            url('../data/fonts/simpsons.woff') format('woff'),
            url('../data/fonts/simpsons.ttf')  format('truetype');
}

text {
    font-size: 13px;
    font-family: 'simpsons'
}

text.title {
    font-size: 23px;
}