body {
    background-color: #444;
}

.county {
    stroke-width: 0.1;
    stroke: #ccc;
}

.selected {
    stroke-width: 2;
    stroke: #000;
}

rect {
    stroke-width: 0.1;
    stroke: #ccc;
}

text {
    fill: white;
    font-weight: lighter;
    font-size: large;
}

text.title {
    font-size: 40px;
}

h1 {
    text-align: center;
}

